*{
    box-sizing: border-box;
}

h1{
    background-color: brown;
    position: static;
}

p{
    color: red;
}

.list{
    background-color: bisque;
    border-style: solid;
    border-radius: 20px;
}

.button{
    border-style: ridge;
    border-radius: 20px;
    position: relative;
    width: 25vw;
    left: 37.5vw;
    /*
    display: flex;
    align-items: center;
    */
    background-color: darkgoldenrod;
}

/* IDs can only be used by a single HTML element 
    ID has priority over class selector*/
#alllists{
    background-color: aquamarine;
    border: 10px ridge;
    text-align: center;
    width: 75vw;
    left: 12.5vw;
    position: relative;
}
